APP__NAME="Atlas Naroda API"
APP__VERSION="1.0.0"
APP__DESCRIPTION="API для проекта Атлас народа"

DB__SCHEMA=postgresql+asyncpg
DB__HOST=localhost
DB__PORT=5432
DB__NAME=atlas_db
DB__USER=postgres
DB__PASSWORD=postgres

AUTH__SECRET=change_me_to_openssl_secret_at_least_32_chars
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_LIFETIME_SECONDS=300
AUTH__REFRESH_TOKEN_LIFETIME_SECONDS=3600
